body {
    font-family: 'Poppins', sans-serif;
    background-color:rgba(10, 10, 40, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
label {
    color: white;
}

.container {
    background-color: rgba(10, 10, 40, 1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #f7f3f3;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2831a7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #342188;
}

.show-password {
    cursor: pointer;
    color: #007bff;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}